<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Pedigree PDF</title>
</head>
<body>
    <header>

    </header>
    
    <main class="mainPdf">
    <div style="display: flex; flex-direction: column; position: relative; left: 620; z-index: -1; width: 40px; top: -20;"><img src="/img/pedigree.png" alt=""></div>
   <!-- <div style="display: flex; flex-direction: column; position: relative; left: 640;"><b>P</b><b>E</b><b>D</b><b>I</b><b>G</b><b>R</b><b>E</b><b>E</b></div>  -->
    <div style="display:flex; position: relative; top: -320; border: 2px solid black; margin: 5px; padding: 15px; height: 250mm; left: -15px;">
    <form id="form" action="" method="POST" >
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
            <div class="contentDescriptStud" style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                <b class="ejemplarNombre" style='font-size: 12; font-family: Arial'> <%=ejemplarX.nombre%> </b><input type="text" style="display: none;" name="ejemplarNombre" value="<%=ejemplarX.nombre%>">
                <% if(ejemplarX.sexo == "H"){ %>
                <%    ejemplarX.sexo = "Hembra"%>
                <%} else {%>
                <%      ejemplarX.sexo = "Macho" %>

                <%}%>
                <% if(ejemplarX.pelo == "ZC"){ %>
                    <% ejemplarX.pelo = "Zaino Colorado" %>
                <%} else if(ejemplarX.pelo == "A") {%>    
                    <% ejemplarX.pelo = "Alazan" %>
                <%} else if(ejemplarX.pelo == "AT") {%>    
                    <% ejemplarX.pelo = "Alazan Tostado" %>
                <%} else if(ejemplarX.pelo == "O") {%>    
                    <% ejemplarX.pelo = "Oscuro" %>
                <%} else if(ejemplarX.pelo == "M") {%>    
                    <% ejemplarX.pelo = "Moro" %>
                <%} else if(ejemplarX.pelo == "R") {%>    
                    <% ejemplarX.pelo = "Rosillo" %>
                <%} else if(ejemplarX.pelo == "T") {%>    
                    <% ejemplarX.pelo = "Tordillo" %>
                <%} else if(ejemplarX.pelo == "Z") {%>    
                    <% ejemplarX.pelo = "Zaino" %>
                <%} else if(ejemplarX.pelo == "ZD") {%>    
                    <% ejemplarX.pelo = "Zaino Doradillo" %>
                <%} else {%>    
                    <% ejemplarX.pelo = "Zaino Negro" %> 
                <%}%>

                <% if(ejemplarX.mes_nac == 1){ %>
                    <% ejemplarX.mes_nac = "Enero" %>
                <%} else if(ejemplarX.mes_nac == 2) {%>    
                    <% ejemplarX.mes_nac = "Febrero" %>
                <%} else if(ejemplarX.mes_nac == 3) {%>    
                    <% ejemplarX.mes_nac = "Marzo" %>
                <%} else if(ejemplarX.mes_nac == 4) {%>    
                    <% ejemplarX.mes_nac = "Abril" %>
                <%} else if(ejemplarX.mes_nac == 5) {%>    
                    <% ejemplarX.mes_nac = "Mayo" %>
                <%} else if(ejemplarX.mes_nac == 6) {%>    
                    <% ejemplarX.mes_nac = "Junio" %>
                <%} else if(ejemplarX.mes_nac == 7) {%>    
                    <% ejemplarX.mes_nac = "Julio" %>
                <%} else if(ejemplarX.mes_nac == 8) {%>    
                    <% ejemplarX.mes_nac = "Agosto" %>
                <%} else if(ejemplarX.mes_nac == 9) {%>    
                    <% ejemplarX.mes_nac = "Septiembre" %>
                <%} else if(ejemplarX.mes_nac == 10) {%>    
                    <% ejemplarX.mes_nac = "Octubre" %>
                <%} else if(ejemplarX.mes_nac == 11) {%>    
                    <% ejemplarX.mes_nac = "Noviembre" %>  
                <%} else {%>    
                    <% ejemplarX.mes_nac = "Diciembre" %> 
                <%}%>

                <b class="descriptEjemplar" style='font-size: 10; font-family: Arial'> <%=ejemplarX.sexo%>, <%=ejemplarX.pelo%>, nacido el <%=ejemplarX.dia_nac%> de <%=ejemplarX.mes_nac%> de <%=ejemplarX.anio_nac%> - <%=ejemplarX.familia%></b>
                <input type="text" style="display: none;" name="ejemplarSexo" value="<%=ejemplarX.sexo%>">
                <input type="text" style="display: none;" name="ejemplarPelo" value="<%=ejemplarX.pelo%>">
                <input type="text" style="display: none;" name="ejemplarDia_nac" value="<%=ejemplarX.dia_nac%>">
                <input type="text" style="display: none;" name="ejemplarMes_nac" value="<%=ejemplarX.mes_nac%>">  
                <input type="text" style="display: none;" name="ejemplarAnio_nac" value="<%=ejemplarX.anio_nac%>">
                <input type="text" style="display: none;" name="ejemplarFamilia" value="<%=ejemplarX.familia%>">
                <input id="id" type="text" style="display: none;" name="ejemplarId" value="<%=ejemplarX.id%>">
                
            </div>
            <div class="borderContentCarreras">
               
                <div class="detalleCarrerasCorridas" style='font-size: 8; font-family: Arial'>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b> Año </b>
                        <b> <%= anios[0].slice(2)%>-<%=anios[anios.length-1].slice(2)%></b>
                        <input type="text" style="display: none;" name="aniosCorrio" value=<%= anios[0].slice(2)%>-<%=anios[anios.length-1].slice(2)%>>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b> Edad</b>
                        <b><%= anios[0] - ejemplarX.anio_nac%> - <%=anios[anios.length-1]- ejemplarX.anio_nac%></b>
                        <input type="text" style="display: none;" name="edadCorrio" value=<%= anios[0] - ejemplarX.anio_nac%> - <%=anios[anios.length-1]- ejemplarX.anio_nac%>>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>Corrio</b>
                        <b> <%= totalLargadas%> </b><input type="text" style="display: none;" name="totalLargadas" value=<%=totalLargadas%>>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>1º</b>
                        <b><%=totalGanadas%></b><input type="text" style="display: none;" name="totalGanadas" value=<%=totalGanadas%>>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>2º</b>
                        <b><%=totalSegundos%></b><input type="text" style="display: none;" name="totalSegundos" value=<%=totalSegundos%>>
                    </div>
                    <div class="cadaDetalleCarreras" style="display: flex; flex-direction: column; width: 12%;">
                        <b>3º</b>
                        <b><%=totalTerceros%></b><input type="text" style="display: none;" name="totalTerceros" value=<%=totalTerceros%>>
                    </div>
                    <div class="premioDetalleCarreras" style="display: flex; flex-direction: column; width: 25%;">
                        <b>Premios</b>
                        <b>$ <%=totalGanancias%></b><input type="text" style="display: none;" name="ganancias" value=<%=totalGanancias%>>
                    </div>

                </div>
               
            </div>
        </div>
        <div class="contenedorCuidadorArbol" >
            <div class="detllesCuidador" style='font-size: 10; font-family: Arial; font-style: oblique;'>
                <b> Caballeriza: <%=caballeriza%> </b> <input type="text" style="display: none;" name="caballeriza" value="<%=caballeriza%>">
                <b> Criador: <%=criadorX.haras%> </b> <input type="text" style="display: none;" name='criador' value="<%=criadorX.haras%>">
                <b> Cuidador: <%=cuidador%> </b> <input type="text" style="display: none;" name="cuidador" value="<%=cuidador%>">    
                <div style="font-size: x-small;">     
                   <input type="text" name="infoPadrillo1"><input type="text" name="infoPadrilloNegrita1" placeholder="negrita"><input type="text" name="infoPadrillo2"><input type="text" name="infoPadrilloNegrita2" placeholder="negrita"><input type="text" name="infoPadrillo3"><input type="text" name="infoPadrilloNegrita3" placeholder="negrita"><input type="text" name="infoPadrillo4"><input type="text" name="infoPadrilloNegrita4" placeholder="negrita"><input type="text" name="infoPadrillo5"><input type="text" name="infoPadrilloNegrita5" placeholder="negrita">        
                </div>
            </div>
            <div class="arbolGContent">
                <div class="arbolG" style='font-size: 10; font-family: Arial'>
                    <div class="mapa">                        
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=padre.nombre%></b></div><input type="text" style="display: none;" name="padre" value="<%=padre.nombre%>">
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=madre.nombre%></b></div><input type="text" style="display: none;" name="madre" value="<%=madre.nombre%>">
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>

                    </div>
                    <div class="abue">
                        <div class="divArbolGAbu"></div>
                        <!-- <div class="divArbolG"> <b><%=abueloP.nombre%></b></div><input type="text" style="display: none;" name="abueloP" value=<%=abueloM.nombre%>> -->
                        <div class="divArbolG">
                            <%if(abueloP.nombre != '') {%>
                            <input type="text" name="abueloP" value="<%=abueloP.nombre%>">
                            <% }else{ %>
                            <input type="text" name="abueloP">
                            <% } %>
                        </div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <!-- <div class="divArbolG"> <b><%=abuelaP.nombre%></b></div><input type="text" style="display: none;" name="abuelaP" value=<%=abuelaM.nombre%>> -->
                        <div class="divArbolG">
                            <%if(abuelaP.nombre != '') {%>
                            <input type="text" name="abuelaP" value="<%=abuelaP.nombre%>">
                            <% }else{ %>
                            <input type="text" name="abuelaP">
                            <% } %>
                        </div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <!-- <div class="divArbolG"> <b><%=abueloM.nombre%></b></div><input type="text" style="display: none;" name="abueloM" value=<%=abueloM.nombre%>> -->
                        <div class="divArbolG">
                            <%if(abueloM.nombre != '') {%>
                            <input type="text" name="abueloM" value="<%=abueloM.nombre%>">
                            <% }else{ %>
                            <input type="text" name="abueloM">
                            <% } %>
                        </div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <!-- <div class="divArbolG"> <b><%=abuelaM.nombre%></b></div><input type="text" style="display: none;" name="abuelaM" value=<%=abuelaM.nombre%>> -->
                        <div class="divArbolG">
                            <%if(abuelaM.nombre != '') {%>
                            <input type="text" name="abuelaM" value="<%=abuelaM.nombre%>">
                            <% }else{ %>
                            <input type="text" name="abuelaM">
                            <% } %>
                        </div>
                        <div class="divArbolGAbu"></div>
                    </div>
                        <div class="bisa">
                            <div class="divArbolG">
                                <%if(pAbueloP.nombre != '') {%>
                                <input type="text" name="pAbueloP" value="<%=pAbueloP.nombre%>">
                                <% }else{ %>
                                <input type="text" name="pAbueloP">
                                <% } %>
                            </div>
                            <div class="divArbolG">
                                <%if(mAbueloP.nombre != '') {%>
                                <input type="text" name="mAbueloP" value="<%=mAbueloP.nombre%>">
                                <% }else{ %>
                                <input type="text" name="mAbueloP">
                                <% } %>
                            </div>
                            <div class="divArbolG">
                                <%if(pAbuelaP.nombre != '') {%>
                                <input type="text" name="pAbuelaP" value="<%=pAbuelaP.nombre%>">
                                <% }else{ %>
                                <input type="text" name="pAbuelaP">
                                <% } %>
                            </div> 
                            <div class="divArbolG">
                                <%if(mAbuelaP.nombre != '') {%>
                                <input type="text" name="mAbuelaP" value="<%=mAbuelaP.nombre%>">
                                <% }else{ %>
                                <input type="text" name="mAbuelaP">
                                <% } %>
                            </div> 
                            <div class="divArbolG">
                                <%if(pAbueloM.nombre != '') {%>
                                <input type="text" name="pAbueloM" value="<%=pAbueloM.nombre%>">
                                <% }else{ %>
                                <input type="text" name="pAbueloM">
                                <% } %>
                            </div> 
                            <div class="divArbolG">
                                <%if(mAbueloM.nombre != '') {%>
                                <input type="text" name="mAbueloM" value="<%=mAbueloM.nombre%>">
                                <% }else{ %>
                                <input type="text" name="mAbueloM">
                                <% } %>
                            </div>
                            <div class="divArbolG">
                                <%if(pAbuelaM.nombre != '') {%>
                                <input type="text" name="pAbuelaM" value="<%=pAbuelaM.nombre%>">
                                <% }else{ %>
                                <input type="text" name="pAbuelaM">
                                <% } %>
                            </div>
                            <div class="divArbolG">
                                <%if(mAbuelaM.nombre != '') {%>
                                <input type="text" name="mAbuelaM" value="<%=mAbuelaM.nombre%>">
                                <% }else{ %>
                                <input type="text" name="mAbuelaM">
                                <% } %>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="font-size: 8; font-family: Arial; column-count: 2; margin-top: 5px;">
            <!-- <div style="display: flex; flex-wrap: nowrap;font-size: x-small; width: 40%; flex-direction: column;"> -->
                <!-- <div> -->
                    <p><b style="border-bottom: 1px solid black ;">1a. madre:</b><%=madre.nombre%> (<%= madre.anio_nac%>) (<%=madre.padre%>)</p>
                    <input type="text" style="display: none;" name="madreNombre" value="<%=madre.nombre%>">
                    <input type="text" style="display: none;" name="madreNac" value="<%=madre.anio_nac%>">
                    <input type="text" style="display: none;" name="madrePadre" value="<%=madre.padre%>">

                    <p> Madre de </p>
                    <% for(let i=0; i<resultadosCarrerasHijos1M.length; i++){%>
                        <% if(resultadosCarrerasHijos1M[i].grupoCarrera == ''){%>
                            <p><%= resultadosCarrerasHijos1M[i].nac%> - <%=resultadosCarrerasHijos1M[i].nombre %> (<%=resultadosCarrerasHijos1M[i].sexo%> <%=resultadosCarrerasHijos1M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos1M[i].hipodromo%></p>
                        <% }else{%>
                            <p> <%= resultadosCarrerasHijos1M[i].nac%> - <%=resultadosCarrerasHijos1M[i].nombre %> (<%=resultadosCarrerasHijos1M[i].sexo%> <%=resultadosCarrerasHijos1M[i].padre%>)
                                gdr en <%= resultadosCarrerasHijos1M[i].hipodromo%>-<%= resultadosCarrerasHijos1M[i].nombreCarrera%> <%=resultadosCarrerasHijos1M[i].grupoCarrera %></p>    
                        <%}%>
                    <%}%>       
                    <textarea name="1madre" ></textarea>
                <!-- </div>
                <div> -->
                    <p><b style="border-bottom: 1px solid black ;">2a. madre:</b><%=abuelaM.nombre%> (<%= abuelaM.anio_nac%>) (<%=abuelaM.padre%>) </p>
                    <input type="text" style="display: none;" name="abuelaMNombre" value="<%=abuelaM.nombre%>">
                    <input type="text" style="display: none;" name="abuelaMNac" value="<%=abuelaM.anio_nac%>">
                    <input type="text" style="display: none;" name="abuelaMPadre" value="<%=abuelaM.padre%>">
                    <p> Madre de </p>
                    <% for(let i=0; i<resultadosCarrerasHijos2M.length; i++){%>
                        <% if(resultadosCarrerasHijos2M[i].grupoCarrera == ''){%>
                        <p><%= resultadosCarrerasHijos2M[i].nac%> - <%=resultadosCarrerasHijos2M[i].nombre %> (<%=resultadosCarrerasHijos2M[i].sexo%> <%=resultadosCarrerasHijos2M[i].padre%>)
                        gdr en <%= resultadosCarrerasHijos2M[i].hipodromo%></p>
                        <%}else{%>
                            <p> <%= resultadosCarrerasHijos2M[i].nac%> - <%=resultadosCarrerasHijos2M[i].nombre %> (<%=resultadosCarrerasHijos2M[i].sexo%> <%=resultadosCarrerasHijos2M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos2M[i].hipodromo%>- <%= resultadosCarrerasHijos2M[i].nombreCarrera%> <%=resultadosCarrerasHijos2M[i].grupoCarrera %></p>    
                        <%}%>
                    <%}%>       
                    <textarea name="2madre" ></textarea>
                <!-- </div> -->
            <!-- </div>
            <div style="display: flex; flex-wrap: nowrap;font-size: x-small; width: 40%; flex-direction: column;"> -->
                <!-- <div> -->
                    <p><b style="border-bottom: 1px solid black ;">3a. madre:</b><%=mAbuelaM.nombre%> (<%= mAbuelaM.anio_nac%>) (<%=mAbuelaM.padre%>) </p>
                    <input type="text" style="display: none;" name="mAbuelaMNombre" value="<%=mAbuelaM.nombre%>">
                    <input type="text" style="display: none;" name="mAbuelaMNac" value="<%=mAbuelaM.anio_nac%>">
                    <input type="text" style="display: none;" name="mAbuelaMPadre" value="<%=mAbuelaM.padre%>">
                    <p> Madre de </p>
                    <% for(let i=0; i<resultadosCarrerasHijos3M.length; i++){%>
                        <% if(resultadosCarrerasHijos3M[i].grupoCarrera == ''){%>
                            <p><%=resultadosCarrerasHijos3M[i].nombre %> (<%=resultadosCarrerasHijos3M[i].sexo%> <%=resultadosCarrerasHijos3M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos3M[i].hipodromo%></p>
                        <% } else {%>
                            <p> <%=resultadosCarrerasHijos3M[i].nombre %> (<%=resultadosCarrerasHijos3M[i].sexo%> <%=resultadosCarrerasHijos3M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos3M[i].hipodromo%>-<%= resultadosCarrerasHijos3M[i].nombreCarrera%> <%=resultadosCarrerasHijos3M[i].grupoCarrera %></p>    
                        <%}%>
                    <%}%>         
                    <textarea name="3madre" ></textarea>
                <!-- </div>
                <div> -->
                    <p><b style="border-bottom: 1px solid black ;">4a. madre:</b><%=madre4.nombre%> (<%= madre4.anio_nac%>) (<%=madre4.padre%>) </p>
                    <input type="text" style="display: none;" name="madre4Nombre" value="<%=madre4.nombre%>">
                    <input type="text" style="display: none;" name="madre4Nac" value="<%=madre4.anio_nac%>">
                    <input type="text" style="display: none;" name="madre4Padre" value="<%=madre4.padre%>">
                    <p> Madre de </p>
                    <% for(let i=0; i<resultadosCarrerasHijos4M.length; i++){%>
                        <% if(resultadosCarrerasHijos4M[i].grupoCarrera == ''){%>
                            <p><%=resultadosCarrerasHijos4M[i].nombre %> (<%=resultadosCarrerasHijos4M[i].sexo%> <%=resultadosCarrerasHijos4M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos4M[i].hipodromo%></p>
                        <%} else {%>
                            <p> <%=resultadosCarrerasHijos4M[i].nombre %> (<%=resultadosCarrerasHijos4M[i].sexo%> <%=resultadosCarrerasHijos4M[i].padre%>)
                                gdr en <%= resultadosCarrerasHijos4M[i].hipodromo%> - <%= resultadosCarrerasHijos4M[i].nombreCarrera%> <%=resultadosCarrerasHijos4M[i].grupoCarrera %></p>    
                        <%}%>
                    <%}%>       
                    <textarea name="4madre" ></textarea>  
                <!-- </div>
                <div> -->
                    <p><b style="border-bottom: 1px solid black ;">5a. madre:</b><%=madre5.nombre%> (<%= madre5.anio_nac%>) (<%=madre5.padre%>) </p>
                    <input type="text" style="display: none;" name="madre5Nombre" value="<%=madre5.nombre%>">
                    <input type="text" style="display: none;" name="madre5Nac" value="<%=madre5.anio_nac%>">
                    <input type="text" style="display: none;" name="madre5Padre" value="<%=madre5.padre%>">
                    <p> Madre de </p>
                    <% for(let i=0; i<resultadosCarrerasHijos5M.length; i++){%>
                        <% if(resultadosCarrerasHijos5M[i].grupoCarrera == ''){%>
                            <p><%=resultadosCarrerasHijos5M[i].nombre %> (<%=resultadosCarrerasHijos5M[i].sexo%> <%=resultadosCarrerasHijos5M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos5M[i].hipodromo%> </p>
                        <%} else {%>
                            <p><%=resultadosCarrerasHijos5M[i].nombre %> (<%=resultadosCarrerasHijos5M[i].sexo%> <%=resultadosCarrerasHijos5M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos5M[i].hipodromo%> - <%= resultadosCarrerasHijos5M[i].nombreCarrera%> <%=resultadosCarrerasHijos5M[i].grupoCarrera %></p>    
                        <%}%>
                    <%}%>         
                    <textarea name="5madre" ></textarea>
                <!-- </div> -->
                <!-- <div> -->
                    <p><b style="border-bottom: 1px solid black ;">6a. madre:</b><%=madre6.nombre%> (<%= madre6.anio_nac%>) (<%=madre6.padre%>) </p>
                    <input type="text" style="display: none;" name="madre6Nombre" value="<%=madre6.nombre%>">
                    <input type="text" style="display: none;" name="madre6Nac" value="<%=madre6.anio_nac%>">
                    <input type="text" style="display: none;" name="madre6Padre" value="<%=madre6.padre%>">
                    <p> Madre de </p>
                    <% for(let i=0; i<resultadosCarrerasHijos6M.length; i++){%>
                        <% if(resultadosCarrerasHijos6M[i].grupoCarrera == ''){%>
                            <p><%=resultadosCarrerasHijos6M[i].nombre %> (<%=resultadosCarrerasHijos6M[i].sexo%> <%=resultadosCarrerasHijos6M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos6M[i].hipodromo%></p>
                        <%}else {%>
                            <p><%=resultadosCarrerasHijos6M[i].nombre %> (<%=resultadosCarrerasHijos6M[i].sexo%> <%=resultadosCarrerasHijos6M[i].padre%>)
                            gdr en <%= resultadosCarrerasHijos6M[i].hipodromo%> - <%= resultadosCarrerasHijos6M[i].nombreCarrera%> <%=resultadosCarrerasHijos6M[i].grupoCarrera %></p>    
                        <%}%>
                    <%}%>          
                    <textarea name="6madre" ></textarea>
                <!-- </div> -->

            <!-- </div> -->
        </div>
        <button id="pdf1" type="submit"> Crear pdf frente</button>
        <button id="pdf2" type="submit"> Crear pdf reverso</button>

    </form>
</div>
    </main>

    <script src="/javascript/ejemplares.js"></script>
</body>
</html>