<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main class="mainPdf">
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row;">
            <div class="contentDescriptStud" style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 40%;">
                <b class="ejemplarNombre"> <%=ejemplarX.nombre%> </b>
                <% if(ejemplarX.sexo == "H"){ %>
                <%    ejemplarX.sexo = "Hembra"%>
                <%} else {%>
                <%      ejemplarX.sexo = "Macho" %>

                <%}%>
                <% if(ejemplarX.pelo == "ZC"){ %>
                    <% ejemplarX.pelo = "Zaino Colorado" %>
                <%} else if(ejemplarX.pelo == "A") {%>    
                    <% ejemplarX.pelo = "Alazan" %>
                <%} else if(ejemplarX.pelo == "AT") {%>    
                    <% ejemplarX.pelo = "Alazan Tostado" %>
                <%} else if(ejemplarX.pelo == "O") {%>    
                    <% ejemplarX.pelo = "Oscuro" %>
                <%} else if(ejemplarX.pelo == "M") {%>    
                    <% ejemplarX.pelo = "Moro" %>
                <%} else if(ejemplarX.pelo == "R") {%>    
                    <% ejemplarX.pelo = "Rosillo" %>
                <%} else if(ejemplarX.pelo == "T") {%>    
                    <% ejemplarX.pelo = "Tordillo" %>
                <%} else if(ejemplarX.pelo == "Z") {%>    
                    <% ejemplarX.pelo = "Zaino" %>
                <%} else if(ejemplarX.pelo == "ZD") {%>    
                    <% ejemplarX.pelo = "Zaino Doradillo" %>
                <%} else {%>    
                    <% ejemplarX.pelo = "Zaino Negro" %> 
                <%}%>

                <b class="descriptEjemplar"> <%=ejemplarX.sexo%>, <%=ejemplarX.pelo%>, nacido el <%=ejemplarX.dia_nac%> de <%=ejemplarX.mes_nac%> de <%=ejemplarX.anio_nac%> - <%=ejemplarX.familia%></b>
            </div>
            <div class="borderContentCarreras">
                <div class="detalleCarrerasCorridas">
                    <div class="cadaDetalleCorrida">
                        <b> Año </b>
                        <b> 20-21</b>
                    </div>
                    <div>
                        <b> Edad</b>
                        <b>3-4</b>
                    </div>
                    <div>
                        <b>Corrio</b>
                        <b> 11 </b>
                    </div>
                    <div>
                        <b>1º</b>
                        <b>4</b>
                    </div>
                    <div>
                        <b>2º</b>
                        <b>4</b>
                    </div>
                    <div>
                        <b>3º</b>
                        <b>4</b>
                    </div>
                    <div>
                        <b>Premios</b>
                        <b>$ 3050655</b>
                    </div>

                </div>
            </div>
        </div>
        <div class="contenedorCuidadorArbol" >
            <div class="detllesCuidador">
                <b> Caballeriza: <%=criadorX.haras%> </b>
                <b> Criador: <%=criadorX.propietario%> </b>
                <b> Cuidador: </b>
            </div>
            <div class="arbolGContent">
                <div class="arbolG">
                    <div class="mapa">                        
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=madre.nombre%></b></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=padre.nombre%></b></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>

                    </div>
                    <div class="abue">
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=abuelaM.nombre%></b></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=abueloM.nombre%></b></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=abuelaP.nombre%></b></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolGAbu"></div>
                        <div class="divArbolG"> <b><%=abueloP.nombre%></b></div>
                        <div class="divArbolGAbu"></div>
                    </div>
                    <div class="bisa">
                        <div class="divArbolG"><b><%=mAbuelaM.nombre%></b></div>
                        <div class="divArbolG"><b><%=pAbuelaM.nombre%></b></div>
                        <div class="divArbolG"><b><%=mAbueloM.nombre%></b></div>
                        <div class="divArbolG"><b><%=pAbueloM.nombre%></b></div>
                        <div class="divArbolG"> <b><%=mAbuelaP.nombre%></b></div>
                        <div class="divArbolG"><b><%=pAbuelaP.nombre%></b></div>
                        <div class="divArbolG"><b><%=mAbueloP.nombre%></b></div>
                        <div class="divArbolG"><b><%=pAbueloP.nombre%></b></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- <script src="/javascript/ejemplares.js"></script> -->
</body>
</html>